<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.capacity.sms.mapper.SmsMapper">

	<sql id="where">
		<where>
			<if test="params.name != null and params.name != ''">
				and t.name like concat('%', #{params.name}, '%')
			</if>
			<if test="params.beginTime != null and params.beginTime != ''">
				and t.create_time &gt;= #{params.beginTime}
			</if>
			<if test="params.endTime != null and params.endTime != ''">
				and t.create_time &lt;= #{params.endTime}
			</if>
			<if test="params.searchKey != null and params.searchKey != ''">
				and t.name like concat('%', #{params.searchKey}, '%')
			</if>
		</where>
	</sql>

	<select id="findList"
		resultType="com.open.capacity.sms.model.Sms">
		select * from sys_sms t
		<include refid="where" />
		order by t.create_time desc
	</select>
	
	
	
	
	
	
	
	
</mapper>